
  <!-- Navigation -->
  <nav *ngIf="nav" class="navbar  navbar-default navbar-expand-lg navbar-light fixed-top">
    
      <a class="navbar-brand" href="#">KOORDYNATOR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="Toogleico"></span> Menu <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="nav" class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li *ngIf="nav" class="nav-item">
            <a class="nav-link" href="#Why">Why Us</a>
          </li>
          <li *ngIf="nav" class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      
         
        <a type="button" *ngIf="nav" class="btn btn-warning link-btn" >Sign In</a>
     
      
        <a type="button" *ngIf="nav" class="btn btn-warning link-btn" routerLink="signup">Sign Up</a>
        <a type="button" *ngIf="!nav" class="btn btn-warning link-btn" >Sign Out</a>
 
      </div>
    
  </nav>

<router-outlet></router-outlet>