<div *ngIf="ParticipantSet; then Settings; else ParticipantDetails"></div>
<!--Loading Participant Settigns -->
<ng-template #Settings>
  <h4>Please Select the Details Needed By Participants to fill</h4>
  <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    <h5> Name and Email are Manadatory for Participant Registeration.Please Select other detail required for registerion
      of Participant.</h5>
    <div *ngFor="let data of Data; let i=index">
      <label>
        <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
        {{data.name}}
      </label>
    </div>
    <hr>
    <h6>Payment if Required for Registeration of Participant</h6>
    <label>
      <input type="checkbox" #chckEnable formControlName="PaymentRequired" ngModel
        value="Payment" />
      Payment Required
    </label>
    <div>Amout to Be Paid:
      <input type="number" min="0" max="10000" ([ngModel])="value" formControlName="Amount"
        [attr.disabled]="!chckEnable.checked?'':null" placeholder="Amount" numbersOnly />
    </div>

    <hr>
    <button type="submit" class="btn btn-warning">Save</button>
  </form>

</ng-template>


<!--Loading Participant Dtails if any-->
<ng-template #ParticipantDetails>

  <div *ngIf="participantNull; then datatable; else ParticipantADD"></div>
  <ng-template #ParticipantADD>

    <div class="alert alert-warning" role="alert">
      Please Add Participant for this Event
    </div>

  </ng-template>


  <ng-template #datatable>

    <table class="table">
      <caption>List of Participants</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col"  *ngIf="this.partipantinput.includes('Company')">Company</th>
          <th scope="col">Card</th>
          <!-- <th scope="col">Handle</th> -->
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let part of ParticipantArr">
          <!-- <th scope="row">1</th> -->
          <td>{{part.name}}</td>
          <td>{{part.email}}</td>
          <td *ngIf="this.partipantinput.includes('Company')" >{{part.company}}</td>
          <td><button type="button" class="btn btn-warning" (click)="onPrint(part)">Print</button></td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <!--Loading Participant Buttons Settings is setted-->
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#addParticipant">Add
          participant</button>
      </div>
      <div class="col-lg-2">
        <button type="submit" class="btn btn-warning">Invite</button>
      </div>
      <button type="submit" class="btn btn-warning" (click)="changeRoute()">Add
        participant</button>
    </div>
  </div>

</ng-template>



<!-- Modal for adding Particpant-->
<div class="modal fade" id="addParticipant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Participant</h5>
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="register bg-blue" #user="ngForm">
        <div class="modal-body">
          <div *ngIf="ifError" class="alert alert-danger alert-dismissible fade show" (click)="onCloseErrorModal()"
            role="alert">
            {{ errorMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
              placeholder="Enter Name" name="name" ngModel required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email" name="email" #email="ngModel"
              [class.is-invalid]="email.invalid && email.touched" ngModel required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group" *ngFor="let inputdat of partipantinput; let i = index" >
            <label>{{ inputdat}}</label>
            <!-- <input type="text" class="form-control" id="exampleInputCompanyName" aria-describedby="comanyHelp"
              placeholder="Company Name" name="company" ngModel>
            <small id="emailHelp" class="form-text text-muted">(Not Mandatory)</small> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-warning" (click)="onSubmit(user)">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>