<div *ngIf="ParticipantSet; then Settings; else ParticipantDetails"></div>
<!--Loading Participant Settigns -->
<ng-template #Settings>
  <h4>Please Select the Details Needed By Participants to fill</h4>
  <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    <h5> Name and Email are Manadatory for Participant Registeration.Please Select other detail required for registerion
      of Participant.</h5>
    <div *ngFor="let data of Data; let i=index">
      <label>
        <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
        {{data.name}}
      </label>
    </div>
    <hr>
    <h6>Payment if Required for Registeration of Participant</h6>
    <label>
      <input type="checkbox" #chckEnable formControlName="PaymentRequired" ngModel value="Payment" />
      Payment Required
    </label>
    <div>Amout to Be Paid:
      <input type="number" min="0" max="10000" ([ngModel])="value" formControlName="Amount"
        [attr.disabled]="!chckEnable.checked?'':null" placeholder="Amount" numbersOnly />
    </div>

    <hr>
    <button type="submit" class="btn btn-warning">Save</button>
  </form>

</ng-template>


<!--Loading Participant Dtails if any-->
<ng-template #ParticipantDetails>

  <div *ngIf="participantNull; then datatable; else ParticipantADD"></div>
  <ng-template #ParticipantADD>

    <div class="alert alert-warning" role="alert">
      Please Add Participant for this Event
    </div>

  </ng-template>


  <ng-template #datatable>

    <table class="table">
      <caption>List of Participants</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col" *ngIf="this.partipantinput.includes('Company')">Company</th>
          <th scope="col">Card</th>
          <!-- <th scope="col">Handle</th> -->
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let part of ParticipantArr">
          <!-- <th scope="row">1</th> -->
          <td>{{part.name}}</td>
          <td>{{part.email}}</td>
          <td *ngIf="this.partipantinput.includes('Company')">{{part.company}}</td>
          <td><button type="button" class="btn btn-warning" (click)="onPrint(part)">Print</button></td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <!--Loading Participant Buttons Settings is setted-->
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#addingInvite">Invite</button>
      </div>
      <div class="col-lg-2">
        <button type="submit" class="btn btn-warning" (click)="changeRoute()">Add
          participant</button>
      </div>
    </div>
  </div>

</ng-template>


<!-- Modal For adding Email and send invitation -->
<!-- Modal for sending invitation invites-->
<div class="modal fade" id="addingInvite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Participant</h5>
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="dynamicForm" (ngSubmit)="sendingMail()">
        <div class="modal-body">
          <div *ngIf="ifError" class="alert alert-danger alert-dismissible fade show" (click)="onCloseErrorModal()"
            role="alert">
            {{ errorMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label>Number of Participants</label>
              <select formControlName="numberOfParticipant" class="form-control" (change)="onChangeParticipants($event)"
                [ngClass]="{ 'is-invalid': submitted && f.numberOfParticipant.errors }">
                <option value=""></option>
                <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
              </select>
              <div *ngIf="submitted && f.numberOfParticipant.errors" class="invalid-feedback">
                <div *ngIf="f.numberOfParticipant.errors.required">Number of tickets is required</div>
              </div>
            </div>
          </div>

          <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
            <div class="list-group-item">
              <h5 class="card-title">Participant {{i + 1}}</h5>
              <div [formGroup]="ticket" class="form-row">
                <div class="form-group col-10">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && ticket.controls.email.errors }" />
                  <div *ngIf="submitted && ticket.controls.email.errors" class="invalid-feedback">
                    <div *ngIf="ticket.controls.email.errors.required">Email is required</div>
                    <div *ngIf="ticket.controls.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-warning" >Sent</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-warning" (click)="onReset()">Reset</button>
            <button class="btn btn-warning" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>