<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [ngClass]="status ? 'active' : 'dec'">
   
        <div id="navigatedesktop" class="sidebar-header sidebarCollapse"  (click)="clickEvent()">
            <h3 class="headtxt"> <i  class="fa fa-chevron-circle-left"></i> </h3>
            <strong><i  class="fa fa-chevron-circle-right"></i> </strong>
        </div>
  
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Dashboard
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                
                <a  routerLink="participant">
                    <i class="fa fa-users"></i>
                    Participant
                </a>
            </li>
            <li>
                
              <a href="#volunteersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-users"></i>
                Volunteers
              </a>
              <!-- <ul class="collapse list-unstyled" id="volunteersSubmenu">
                  <li>
                      <a href="#">Page 1</a>
                  </li>
                  <li>
                      <a href="#">Page 2</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul> -->
          </li>
            <li>
                <a href="#">
                    <i class="fa fa-id-card"></i>
                    Id-Card
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-qrcode"></i>
                    Scan
                </a>
            </li>
            <li>
                <a href="#" routerLink="invite">
                    <i class="fas fa-paper-plane"></i>
                    Invite
                </a>
            </li>
        </ul>
  
        <ul class="list-unstyled CTAs">
            <li>
                <a class="article" routerLink="../coordinator">Back to Main Menu</a>
            </li>
        </ul>
    </nav>
  
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info sidebarCollapse navigat" (click)="clickEvent()">
                    <!-- <i class="fas fa-align-left"></i> -->
                    <i id="sidebarCollapse" class="fas fa-align-justify"></i>
                    <!-- <span>Toggle Sidebar</span> -->
                </button>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
  </div>