<!-- Navigation -->
<nav class="navbar  navbar-default navbar-expand-lg navbar-light">

    <a class="navbar-brand" routerLink="/coordinator">KOORDYNATOR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="Toogleico"></span> Menu <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <a type="button" class="btn btn-warning link-btn" routerLink="profile" >Profile</a>
        <a type="button" class="btn btn-warning link-btn" (click)="authService.SignOut()">Sign Out</a>

    </div>

</nav>

<router-outlet></router-outlet>
